@import "./bootstrap/scss/bootstrap";
.titleBox {
	background: #FBFBFB;
	max-width: fit-content;
	display: inline-block;
	padding: 1rem;
	border-radius: 1rem;
	
	/*animation*/
	animation-duration: 3.0s;
	animation-iteration-count: infinite;
	animation-name: pulsingTitleBox;
	animation-timing-function: ease-in-out;
}
.navbar-dark{
	background-color: #343A40
}
.accordion{
	$accordion-body-padding-x:1000rem
}
.bg-dark {
    background-color: #343a40 !important;
}
.social {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.social a {
	transition: ease-in-out 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 32px;
	height: 32px;
	background: #eff2f8;
}
.social a i {
	color: var(--Even-Darker-Green);
	font-size: 16px;
	margin: 0 2px;
}
.social a:hover {
	background: var(--Bright-Green);
}
.social a:hover i {
	color: #fff;
}
.social a+a {
	margin-left: 8px;
  }